nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
        li.nav-item
            a.nav-link(href='/') Inicio
        li.nav-item
            a.nav-link(href='/contacto') Contacto
        li.nav-item
            a.nav-link(href='/sobre-nosotros') Sobre Nosotros
        li.nav-item
            a.nav-link(href='/blog') Blog
